/* @media screen  { */

.list {
    background-color: #ff4b1f ;
    width: 60%;
    height: 960px;
    border: 1px dotted black;
    overflow-y: scroll;
    /* Add the ability to scroll */
}

.facture {
    background-color: rgba(255, 255, 255, 0.774) ;
    width: 40%;
    height: 960px;
    border: 1px dotted black;
    overflow-y: scroll;
    /* Add the ability to scroll */
}

.list::-webkit-scrollbar {
    display: none;
}

.facture::-webkit-scrollbar {
    display: none;
}

/* } */